Package: cif-core
Version: 2.2.3.0
Architecture: core2-64
Maintainer: todd.walter@domeautomation.com
Depends: python3, python3-pip, cif-fixnigrpcpath (= 0.1.1.0), cif-ni-cipc (= 0.1.1.0)
Section: misc
Priority: optional
Source: CIF_Manager
Description: Provides the required libraries and services for CIF support.
